@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500&display=swap');

:root {
  --backgroundDark: rgb(114, 128, 189);
  --backgroundMid: rgb(173, 191, 253);
  --backgroundMidLight: rgb(190, 204, 252);
  --backgroundLight: rgb(229, 234, 255);
  --backgroundTable: rgb(248, 248, 248);
  --foregroundPrimary: rgb(10, 100, 151);
  --foregroundSecondary: rgb(245, 244, 244);
  --Acento: rgb(67, 154, 226); 

  --C1: #1D5F9B;
  --C2: #75C2F6;
  --C5: #c3e6f8;
  --C3: #F4D160;
  --C4: #FBEEAC;
}

*{
  margin: 0px;
  padding: 0px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}


header {
  display: block;
}

/********************************************************
                    CONTENEDORES
********************************************************/

.cc{
  all: initial;
  position: relative;
  z-index: 2;
  margin: 0px;
  width: 100%;
}


#contenido1 {
  margin: 0px;
  width: 100%;
  
}

#divTitulo{
  width: 100%;
  clear: both;
  top: 0px;
  background-color: var(--C1);
  box-sizing: initial;
  margin-top: 0px;
}

#divTituloTexto{
  width: 50%;
  line-height: 1.1; 
  padding-top: 50px;
  margin-left: 6%;
  padding-left: 40px;
  text-align: left;
  font-family: 'afacad', sans-serif;
  font-size: 6em;
  color: white;
  text-shadow: 4px 4px rgba(0,0,0,0.8);
}

@media screen and (max-width: 1000px) {
  #divTituloTexto{
    width: 100%;
    margin-left: 5%;
    padding-left: 10px;
    font-size: 4em;
  }
}

/********************************************************
                    Barra de filtro
********************************************************/

#divFiltro{
  width: 50%;
  margin-top: 30px;
  margin-left: 6%;

  padding-left: 40px;
  padding-bottom: 40px;
  justify-content: center;

  font-family: 'montserrat', sans-serif;
  font-weight: bold;
}

.inputbox{
  overflow: hidden;
  position: relative;
  padding:15px 0 28px 200px;
}

.inputbox .inputbox-title{
  position: absolute;
  top:15px;
  left: 0;
  width: 200px;
  height: 25px;
  color: whitesmoke;
  line-height: 30px;
  font-family: 'montserrat', sans-serif;
  font-size: 1em;
  font-weight: 330;
}

.inputbox .inputbox-content{
  position: relative;
  width: 100%;
  margin-top: 14px;
}

.inputbox .inputbox-content label{
  position: absolute;
  top:0;
  left:0;
  height: 30px;
  line-height: 30px;
  color:var(--foregroundSecondary);
  cursor:text;
  transition: all 200ms ease-out;
  z-index:10;
  font-weight: 400;
}

.inputbox .inputbox-content .underline{
  content: '';
  display: block;
  position: absolute;
  bottom:-1px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--C3);
  transition: all 200ms ease-out;
}

#filtro{
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size:14px;
  border:0;
  background: none;
  border-bottom:1px solid var(--foregroundSecondary);
  outline:none;
  border-radius: 0;
  font-size: large;
}

#filtro:focus:valid ~ label{
  color: var(--C3);
  transform: translateY(-20px);
  font-size:0.825em;
  cursor:default;
}

#filtro:valid ~ label{
  color: var(--C3);
  transform: translateY(-20px);
  font-size:0.825em;
  cursor:default;
}

#filtro:focus ~ .underline{
  width: 100%;
}

#filtro:valid ~ .underline{
  width: 100%;
}

/********************************************************
                            Tabla
********************************************************/

#divResultados{
  background-color: transparent;
  padding-top: 40px;
  height: 100%;
}

.divTabla{
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  backdrop-filter: blur(2rem);
  background-color: var(--backgroundTable); 
  
}

#tablaClima{
  width: 100%;
  border-radius: 20px;
  border: 1px solid transparent;
  table-layout: fixed;
}

tr {
  height: 20px;
}

th{
  background-color: var(--backgroundMidLight);
  font-family: 'afacad', sans-serif;
  font-size: 1.4em;
}

#col1 {
  width: 20%;
}
#col2 {
  width: 20%;
}
#colMin {
  width: 10%;
}
#colHum {
  width: 10%;
}
#colImg {
  width: 8%;
}

#fila{
  font-family: 'montserrat', sans-serif;
  height: 68px;
}

.celdaTemp {
  text-align: right;
}

.celdaImg {
  text-align: center;
}

table td img {
  width: 48px;
  height: fit-content;
}

tbody tr:hover {
  color: var(--Acento);
  background-color: var(--backgroundLight);
  cursor: pointer
}

@media screen and (max-width: 1200px) {
  th {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 1050px) {
  th {
    font-size: 1.1em;
  }
  #colMin {
    width: 8%;
    font-size: .8em;
  }
  #colHum {
    font-size: .9em;
    content: "Hum.";
  }
  table td img {
    width: 40px;
    height: fit-content;
  }


  #divFiltro{
    width: 80%;
  }

  #fila{
    font-size: .8em;
  }
}

@media screen and (max-width: 800px) {
  th {
    font-size: 1em;
  }
  #fila{
    font-size: .7em;
  }
  table td img {
    width: 25px;
    height: fit-content;
  }
}
/*
cambio drástico en la presentación de la tabla
*/
@media screen and (max-width: 650px) {
  table {
    border: 1;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }

  #fila{
    font-family: 'montserrat', sans-serif;
    height: fit-content;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td img {
    width: 2px;
    height: 2px;
  }
  
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/********************************************************
                    Imágen de fondo
********************************************************/
.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background-color: var(--backgroundLight);
  }
  
.bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 6;
}

/********************************************************
                    SEGUNDO CONTENIDO
********************************************************/

h1, h2, h3, span{
  z-index: 1;
}

.texto {
  font-family: 'Afacad', sans-serif;
  font-family: 'Montserrat', sans-serif;
}


/* ----------- Empieza contenido ------------------------- */


/* **First section with general information */
.informacion_general{
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("/img/prueba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 500ms;
  width: 100%;
  display: flex;
  box-shadow: 0 10px 10px 0
              rgba(0, 0, 0, 0.6);
}

.informacion_general::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.cont1-img{
  width: fit-content;
  height: 24px;
  justify-content: center;
}

.clima h1, .estado-municipio h2, h3{
  font-family: 'Afacad', sans-serif;
}

.clima{
  display: flex;
  align-items: center;
}

/* **Ends first section with general information */

.cuadros-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.cont{
  border-radius: 20px;
  border: 1px solid transparent;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.249);
  color: #fff;
}

.cont-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: -30px;
  display: block;
  left: 50%;
  transform: translatex(-50%);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  border: 2px;
  border-color: black;
}


.row{
  width: 100%;
  margin-right: 30px;
}

.card.hoverable{
  transition: all 0.3s;
  border-radius: 15px;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.3);
}

.card.hoverable:hover{
  transform: scale(1.05);
}

.imagen-container{
  background-image: url("/icons/weather/parcialmente-nublado-lluvia.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.3s;
}

.card.hoverable:hover .imagen-container{
  background-image: url("/icons/weather/parcialmente-nublado-lluvia.gif");
}

ul li a{
  position: relative;
  text-decoration: none;
  transition: 0.3s ease;
}

ul li a:before{
  content: '';
  position: absolute;
  background: #000;
  width: auto;
  height: 3px;
}

