.contenido {
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.oculto {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.oculto2 {
    display: none;
    transition: opacity 0.9s ease-in-out;
}

.mostrar {
    display: initial;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}