@import url('https://fonts.google.com/specimen/Montserrat/tester?preview.text=Humedad&selected=Material+Symbols+Outlined:humidity_percentage:FILL@0;wght@400;GRAD@0;opsz@24');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-shadow: #000 0px 0px 10px;
    overflow: auto;
    line-height: 1.6;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.grid-item {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  min-height: 150px;
  min-width: 150px; /* Adjust the width as needed */
  aspect-ratio: 1/1; /* Maintain square proportions */
  border: 2px solid #000; /* Example border color */
  color: #fff; /* Example text color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s;
    transform: scale(1.1);
}

.grid-item:nth-child(1) {
  background-image: url(../img/noticia1.PNG);
  background-size: cover;
}

.grid-item:nth-child(2) {
  background-image: url(../img/noticia2.PNG);
  background-size: cover;
}

.grid-item:nth-child(3) {
  background-image: url(../img/noticia3.PNG);
  background-size: cover;
}

.grid-item:nth-child(4) {
  background-image: url(../img/noticia4.PNG);
  background-size: cover;
}

.cardcontainer{
    padding: 2px 16px;
    font-size: 2vw;
}

.gifs{
    width: 80%;
    height: 80%;
    border-radius: 20%;
    margin: 10px;
    transition: transform 0.3s;
    box-shadow: #000 0px 0px 10px;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    scroll-snap-align: start;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slides:nth-child(1) {
    background-image: url(../img/fondo7.jpg);
  }

.slides:nth-child(2) {
    background-image: url(../img/fondo2.jpg);
  }

.slides:nth-child(3) {
    background-image: url(../img/fondo9.jpg);
  }

.slides:nth-child(4) {
    background-image: url(../img/fondo5.jpg);
  }

.slides:nth-child(5) {
    background-image: url(../img/fondo8.jpg);
  }

.slides:nth-child(6) {
    background-image: url(../img/fondo6.jpg);
  }

.slides:nth-child(7) {
    background-image: url(../img/fondo3.jpg);
  }

.slides:nth-child(8) {
    background-image: url(../img/fondo6.png);
  }

h1{
    font-size: 8vw;
}

h2{
    font-size: 3vw;
}

h3{
    font-size: 2vw;
}

p{
    font-size: 1.5vw;
    text-align: justify;
}

.column {
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 49%;
}
/*
.columncard {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 450px;
    width: 20%;
}
*/
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 90%;
    height: 100%;
}

.rowcard {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin-bottom: 30px;
    gap: 2vw;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}


  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s;
    transform: scale(1.1);
  }

.texto{
    display: flexbox;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.imagecard {
    width: 99.5%;
    height: 225px;
    border-radius: 5px 5px 0 0;
    border: #000 1px solid;
  }

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.icon{
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
    border-radius: 0%;
    margin: 10px;
    box-shadow: none;
}

.icon:hover{
    transform: scale(1.5);
}

.btn {
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
    background-color: #fff;
    color: #000;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100px);
    transition: all 1.2s;
}
  
.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.2s;
}


@media (prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
}

@media (max-width: 768px) {
  .grid-item {
    font-size: small;
    flex-basis: calc(50% - 20px);
  }
  .rowcard {
    gap: 1vw;
  }
}
/*
@media (max-width: 768px) {
  .grid-item {
    flex-basis: calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .grid-item {
    flex-basis: calc(100% - 20px);
  }
}
*/

/*
@media screen and (max-width: 600px) {
    .logos, .icon, .column, .texto, .gifs, .slides, .container {
      width: 100%;
    }
  }

@media screen and (max-width: 600px) {
    .columncard, .cardcontainer, .rowcard, .card, .imagecard{
        display: grid;
        width: 40%;
        height: 40%;
    }
  }
*/

  /*Responsive*/